<div class="example-config">
  <label class="k-form-field">
    <input
      class="k-checkbox"
      type="checkbox"
      id="allowUnsort"
      [(ngModel)]="allowUnsort"
    />
    <label class="k-checkbox-label" for="allowUnsort">
      Toggle unsorting
    </label> </label
  ><br />
  <label class="k-form-field">
    <input
      class="k-checkbox"
      type="checkbox"
      id="multiple"
      [(ngModel)]="multiple"
    />
    <label class="k-checkbox-label" for="multiple">
      Toggle multiple columns sorting
    </label>
  </label>
</div>
<kendo-grid
  [data]="gridView"
  [height]="530"
  [sortable]="{
    allowUnsort: allowUnsort,
    mode: multiple ? 'multiple' : 'single'
  }"
  [sort]="sort"
  (sortChange)="sortChange($event)"
>
  <kendo-grid-column field="id" title="ID" [style]="{'width':'1rem'}">
  </kendo-grid-column>
  <kendo-grid-column field="title" title="title">
  </kendo-grid-column>
  <!-- <kendo-grid-column field="UnitPrice" title="Unit Price"[style]="{'width':'1rem'}" >
  </kendo-grid-column> -->
</kendo-grid>
